:root {
   --primary-font: Roboto, sans-serif;
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-bg-color: #FFFFFF;
   --header-logo-color: #000000;
   --address-link-color: rgba(255, 255, 255, 0.6);
   --hero-footer-bg-color: #2F303A;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul,
ol {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

img {
   display: block;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.link:hover,
.link:focus {
   color: var(--accent-color);
}

button {
   cursor: pointer;
}

body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: var(--primary-font)
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* Header */
.page-header .link {
   color: var(--header-logo-color) ;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}
.page-header .link:hover, .page-header .link:focus {
   color: var(--accent-color);
}

.page-header .logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}
.page-header .logo:hover, .page-header .logo:focus {
   color: var(--accent-color);
}

.nav-style .link {
   color: var(--title-text-color);
   font-family: Roboto, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
}
.nav-style .link:hover,
.nav-style .link:focus {
   color: var(--accent-color);
}
.nav-style .link.current {
   color: var(--accent-color) ;
}
.contacts .link {
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
}
.contacts .link:hover,
.contacts .link:focus {
   color: var(--accent-color);
}

/* hero */
.hero {
   background-color: var(--hero-footer-bg-color);
}
.hero-title {
   color: var(--primary-bg-color) ;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   text-transform: uppercase;
}

.button {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
}

.button:hover,
.button:focus {
   color: var(--accent-color);
   background-color: var(--primary-bg-color);
}

/* feature */
.feature-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
}
.feature-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}

/* example */
.example-section-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
}

/* team */
.team-section-title {
   color: var(--title-text-color) ;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
}
.team-title {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
}
.team-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
}

/* footer */
.page-footer {
   background-color: var(--hero-footer-bg-color);
}

.page-footer .link {
   color: var(--primary-bg-color) ;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}

.page-footer .link:hover,
.page-footer .link:focus {
   color: var(--accent-color);
}

.page-footer .logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}

.page-footer .logo:hover,
.page-footer .logo:focus {
   color: var(--accent-color);
}

.address .text-link {
   color: var(--primary-bg-color);
   text-decoration: none;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}

.address .text-link:hover,
.address .text-link:focus {
   color: var(--accent-color);
}

.address .link {
   color: var(--address-link-color);
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}

.address .link:hover,
.address .link:focus {
   color: var(--accent-color);
}

/* Portfolio */
.projects-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
}
.projects-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
}
.button-secondary {
   text-decoration: none;
   color: var(--title-text-color);
   background-color: var(--primary-bg-color);
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
}

.button-secondary:hover,
.button-secondary:focus {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
}